<?xml version="1.0"?>
<LiveWatchPlugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<UniqueID>com.sysprogs.example.livewatch.sample</UniqueID>
	<PluginModule>SampleLiveWatchExtension.dll</PluginModule>
	<PluginClass>SampleLiveWatchExtension.SampleLiveWatchExtensionPlugin</PluginClass>
	<SupportedMachineIDs>
		<int>40</int>
	</SupportedMachineIDs>
</LiveWatchPlugin>